# Compiler files
cache/
out/
node_modules/
typechain-types/
coverage/
lib/*
!/lib/ERC1155/
artifacts/
#hardhat.config.ts
*.sh

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
.DS_Store